* {
	box-sizing: border-box;
}
body {
	font-family: 'Darker Grotesque', sans-serif;
	max-width: 970px;
	margin: 0 auto;
	font-size: 1.5em;
}

/*page1*/
.nav1 {
	background-color: #5A5934;
	border-radius: 12px;
	width: 100%;
}
.nav-link {
	padding-left: 1.8em;
	color: #1C88C2;
}
.nav-link:hover {
	color: #C6BB29;
	border: 1.4px solid #5DC29B;
	border-left: none;
	border-right: none;
	float: center;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}
.nav-logo {
	width: 9%;
}

.pee1 {}
#peeimg1 {
	width: 100%;
	height: auto;
}
#peeimg2 {
	margin-top: 0.3em;
	width: 100%;
	height: auto;
}
.pee2 {}
#branD1 {
	width: 12%;
	height: auto;
}
#branD2 {
	width: 26%;
	height: auto
}
#branD3 {
	width: 26%;
	height: auto
}
#branD4 {
	width: 13%;
	height: auto
}
#branD5 {
	width: 26%;
	height: auto
}

#table1 {
	text-align: center;
	color: #fff;
}


.foota {
	font-size: 0.9em;
	background-image: url(https://i.pinimg.com/236x/c3/58/10/c358109b7d68a685f6e86ac3cb313342.jpg);
	font-weight: 800;
	color: #fff;
}
.footer-link {}
.footer-link:hover {
	text-decoration: none;
	color: #3F8B4A;
	text-decoration: underline;
	text-decoration-color: #ffffff;
}



/*page2*/
table, tr, td, th {
	border: 2px solid #281632;
	border-collapse: separate;
}
tr:hover {
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Pacifico', cursive;
}



/*page3*/
.exp1 {}
.exp2 {
	border: 3px dotted #39ABCC;
	padding: 0.5em;
	border-radius: 9px;
}
.exp2:hover {
	border: 6px solid #ef244e;
	padding: 0.8em;
	border-radius: 15px;
}
#expCol1 {
	background-color: #f7f423;
	border-radius: 18px;
}
#expCol2 {
	background-color: #23adf7;
	border-radius: 18px;
}
#expCol3 {
	background-color: #2edb31;
	border-radius: 18px;
}
#expCol1:hover {
	background-color: #F6986E;
	border-radius: 18px;
}
#expCol2:hover {
	background-color: #A90B51;
	border-radius: 18px;
}
#expCol3:hover {
	background-color: #2F353A;
	border-radius: 18px;
}

.exp3 {}
.exp3:hover {
	border-bottom: 2px dashed;
	border-right: 2px dashed;
}
#roweql {
	display: flex;
	flex-wrap: wrap;
}


/*page4*/
.sarvE {}
#ol1Li {
	text-align: center;
	list-style-type: none;
}
#ol1Li:hover {
	text-decoration: line-through;
	text-decoration-color: #358A6B;
	text-decoration-style: dotted;
	color: #C1A657;
	font-weight: 600;
}

/*footer*/
#jtrfoot {
	height: 15%;
	background-color: #7EFC86;
	margin-top: 0.2em;
}
.socialAnc {}
.socialAnc:hover {
	text-decoration: none;
}
.social-link {
	width: 6%;
}
.social-link:hover {
	text-decoration: none;
}
.ftTwo {
	margin-top: 0.2em;
}
#pri {
	color: #000;
	border: 5px solid #000;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
#pri:hover {
	text-decoration: none;
	color: #F11F58;
}
#pri1 {
	color: #000;
	border: 5px solid #000;
	border-top: none;
	border-right: none;
	border-bottom: none;
}
#pri1:hover {
	text-decoration: none;
	color: #F11F58;
}

.base-link {
	padding: 5px;
	color: #B6261D;
	font-weight: 600;
}
.base-link:hover {
	text-decoration: none;
	color: #3E1767;
	border-bottom: 1px solid #6BABE0;
}